*{
    margin: 0;
    padding: 0;

}

main{
    background-color: #1b263b;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    color: #ffffff;
    margin: 1.5rem 0rem;
}

.container{
    background-color: #778da9;
    height: 80vmin;
    width: 80vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 2rem;
}

.gameboard{

    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.box{
    height: 19vmin;
    width: 19vmin;
    border: none;
    background-color: #415a77;
    border-radius: 10px;
    color: #e0e1dd;
    font-size: 8vmin;
}

.reset-button{
    border: none;
    background-color: #0d1b2a;
    color: #e0e1dd;
    border-radius: 8px;
    font-size: 1.6rem;
    padding: 0.7rem 2.5rem;

}